<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>

    <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <h1>Add collaborator to wiki <%- wiki.title %></h1>

      <form action="/wikis/<%= wiki.id %>/createCollab" method="post">
        <div class="form-group">
          <label for="username">Collaborator Username</label>
          <input type="text" class="form-control" name="username" placeholder="Enter Username">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
