<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <% include ../static/partials/messages.ejs %>

      <h1>New Wiki</h1>

      <form action="/wikis/create" method="post">
        <div class="form-group">
          <label for="title">Wiki title</label>
          <input type="text" class="form-control" name="title" aria-describedby="titleHelp" placeholder="Enter Title">
        </div>
        <div class="form-group">
          <label for="body">Body</label>
          <textarea rows="4" class="form-control" name="body" placeholder="Write the body of your wiki here"></textarea>
        </div>
        <% if(currentUser.hasPremium() || currentUser.isAdmin()) { %>
          <div class="form-group">
            <label for="private">Make this wiki private?</label>
            <input value="true" type="radio" class="form-control" name="private" required>true
            <input value="false" type="radio" class="form-control" name="private" required checked>false
          </div>
          <p>You can add collaborators to a private wiki by editing it once it is created.</p>
        <% } %>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
