<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>

    <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <% include ../static/partials/messages.ejs %>

      <h1>Account options for <%= user.username %></h1>

      <h3>Your account status is: <%= user.role %></h3>

      <% if(!currentUser.hasPremium()) { %>
        <a href="/users/<%= user.id %>/upgrade" class="btn btn-warning">Upgrade to premium account</a>
        <p>With a premium account, you can edit public wikis, and create and read private wikis.</p>
      <% } else { %>
        <a href="/users/<%= user.id %>/downgrade" class="btn btn-warning">Downgrade to standard account</a>
        <p>With a standard account, you will no longer be able to edit public wikis, or read and create private wikis.</p>
      <% } %>

    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
